<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
    <body>
    <a class="visually-hidden-focusable" href="#content">{% translate "Skip to main content" %}</a>
    <div class="page">
  <header class="navbar navbar-expand-sm navbar-light d-print-none">
    <div class="container-xl">
      <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
        <a href="/">
          KL Litigation Finance
        </a>
      </h1>
      <div class="navbar-nav flex-row order-md-last ms-auto">
          <div class="nav-item dropdown">
              {% if user.is_authenticated %}
                  <a href="#" class="nav-link d-flex lh-1 text-reset"
                     data-bs-toggle="dropdown" aria-label="Open user menu">
                      <span class="avatar avatar-sm" style="background-image: url(/static/avatars/044m.jpg)"></span>
                      <div class="d-none d-xl-block ps-2">
                          <div>{{ user.get_short_name }}</div>
                          <div class="mt-1 small text-secondary">{{ user.email }}</div>
                      </div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <a href="{% url 'core:dashboard' %}" class="dropdown-item">Dashboard</a>
                      {% if user.is_staff %}
                          <a href="{% url 'admin:index' %}" class="dropdown-item">Backend</a>
                      {% endif %}
                      {% if user.is_impersonate %}
                          <a href="{% url 'impersonate-stop' %}" class="dropdown-item">Stop
                              Impersonating {{ request.user.username }} </a>
                      {% endif %}
                      <div class="dropdown-divider"></div>
                      <form action="{% url 'account_logout' %}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="dropdown-item">Log Out</button>
                      </form>
                  </div>
              {% endif %}
          </div>
      </div>
        </header>
      <div class="page-wrapper">
    <div class="page-body">
      <div class="container-xl">
        {% block body %}
            {% block content %}
            {% endblock content %}
        {% endblock body %}
        </div>
    </div>
        {% block extra_body %}
        {% endblock extra_body %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>
    </body>
</html>
