{% load account %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}KL Litigation Finance{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/css/tabler.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="page">
  <header class="navbar navbar-expand-sm navbar-light d-print-none">
    <div class="container-xl">
      <h1
        class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
        <a href="/">
          KL Litigation Finance
        </a>
      </h1>
      <div class="navbar-nav flex-row order-md-last ms-auto">
          <div class="nav-item dropdown">
              {% if user.is_authenticated %}
                <a href="#" class="nav-link d-flex lh-1 text-reset"
                  data-bs-toggle="dropdown" aria-label="Open user menu">
                  <span class="avatar avatar-sm"   style="background-image: url(/static/avatars/044m.jpg)"></span>
                  <div class="d-none d-xl-block ps-2">
                    <div>{{ user.get_short_name }}</div>
                    <div class="mt-1 small text-secondary">{{ user.email }}</div>
                  </div>
                </a>
                  <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      {% if user.is_impersonate %}
                          <a href="{% url 'impersonate-stop' %}" class="dropdown-item">Stop
                              Impersonating {{ request.user.username }} </a>
                      {% else %}
                          <a href="{% url 'impersonate-start' uid=2 %}" class="dropdown-item">Impersonate Thomas</a>
                      {% endif %}
                      {% if user.is_staff %}
                          <a href="{% url 'admin:index' %}" class="dropdown-item">Backend</a>
                      {% endif %}
                      <a href="{% url 'litigation:tasks' %}" class="dropdown-item">Tasks</a>
                      <div class="dropdown-divider"></div>
                      <a href="settings" class="dropdown-item">Settings</a>
                      {% if user.is_authenticated %}
                          <a href="{% url 'account_email' %}" class="dropdown-item">Account</a>
                          <form action="{% url 'account_logout' %}" method="post">
                              {% csrf_token %}
                              <button type="submit" class="dropdown-item">Log Out</button>
                          </form>
                      {% else %}
                          <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                      {% endif %}
                  </div>
            {% else %}
                <li><a href="{% url 'admin:login' %}" class="btn btn-outline-primary">Login</a></li>
            {% endif %}
          </div>
      </div>
    </div>
  </header>
  <div class="page-wrapper">
    <div class="page-body">
      <div class="container-xl">

        {% if messages %}

            {% for message in messages %}
                <div class="alert alert-info alert-dismissible" role="alert">
            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon alert-icon" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="12" cy="12" r="9" />
                        <line x1="12" y1="8" x2="12.01" y2="8" />
                        <polyline points="11 12 12 12 12 16 13 16" />
                      </svg>
                    </div>
                {% endif %}
                {{ message }}
                <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
                 </div>
            {% endfor %}
      {% endif %}


{% block content %}{% endblock content %}
      </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js"></script>
</body>
</html>